* {
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*Faz o REM ser multiplo de 10 ao invés de multiplo de 16. Por padrão 1 rem = 10px*/
  /* Para responsividade isso é MARAVILHOSO, te amo Jake <3 */
}

body {
  display: flex;
  height: 100vh;
  /* width: 100vw; */
  background: var(--background);
}

body,
button,
input,
textarea {
  /* Intervalo de tamanho */
  font-size: clamp(14px, 1.6rem, 2vw);

  font-family: "Open Sans", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}

.content {
  width: 100%;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Inputs and Buttons */
input,
button,
.button {
  border-radius: 0.8rem;
  height: 5rem;
}

button,
.button {
  font-family: "Poppins";
  font-weight: 500;
  line-height: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--blue);
  color: var(--white);

  transition: filter 0.2s;

  cursor: pointer;
}

button:hover,
.button:hover {
  filter: brightness(1.2);
}

button > img,
.button > img {
  margin-right: 1rem;
  width: 2rem;
}

button.outlined,
.button.outlined {
  background: var(--white);
  color: var(--blue);
  border: 0.2rem solid var(--blue);
}

/* Buttons 2 */
button.red,
.button.red {
  background: var(--red);
  color: var(--white);
}

button.grey,
.button.grey {
  background: var(--grey-light);
  color: var(--grey-dark);
}

/* HEADER */
.content header {
  width: 80%;
  margin: auto auto;
}

.header-container a img,
header img {
  width: 16.7rem;
}

/* DARK MODE BUTTON */
button.dark-mode {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  background: var(--blue);
  object-fit: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1.2rem;

  border-radius: 50%;
}

button.dark-mode img {
  width: 3.2rem;
  height: 3.2rem;
  margin: 0;
}
